.f2-main {
    height: 270px;
    padding: 40px 20px;
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.f2-col h4 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.f2-col p {
    font-size: 0.9rem;
}

.f2-col p:hover {
    text-decoration: underline;
    cursor: pointer;
}